# Ignore the LLM Config file to prevent uploading API keys
.github
.clinerules
quick_start_lattice.sh
test_sendImage.py
result.jpg
.vscode/
build
install
log
Past_code
src_learn
test_lattice_planner.sh
src/image_to_llm/llm_config.env
Report
frames_2026-04-01_18.03.13.gv
frames_2026-04-01_18.03.13.pdf